@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #1e2025;
  --secondary: #131416;
  --main: #555eab;
  --lightblue: #4db0e5;
  --red: #e06954;
  /* color: #a0a0a0; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--secondary);
}
::-webkit-scrollbar-thumb {
  background: var(--lightblue);
}

.boxShadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.gradient1 {
  background: linear-gradient(135deg, var(--main) 30%, #1e2025);
}

.gradient2 {
  background: linear-gradient(135deg, #4db0e5c0 0%, #1e2025);
}
